[submodule "Visualizer/vendor/glfw"]
	path = Visualizer/vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Visualizer/vendor/imgui"]
	path = Visualizer/vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Visualizer/vendor/glm"]
	path = Visualizer/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Visualizer/vendor/stb"]
	path = Visualizer/vendor/stb
	url = git@github.com:nothings/stb.git
